<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sports_Matcher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0BFDE7691E4555E400CC910D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BFDE77D1E4555E400CC910D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BFDE7881E4555E400CC910D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
